	{% block body %}

	<div class="container">
        <div class="col-sm-12">
            {% block title %} Type de lieu{% endblock %}
                 <button id="saveTypelieu" type="button" class='btn btn-warning pull-right' onclick="creerTypelieu()">Ajouter un type de lieu</button>	
		</div>

            {% for typelieu in listeTypelieu %}
            <div class="typelieu col-sm-12">
            	<div class="row move-bottom-xs"> Label : {{typelieu.getLabel()}} </div>
                <div class="row move-bottom-xs">
                	<a><img class="apercu" src="http://130.79.214.167{{typelieu.getIcone.getPath()}}" alt="-_-"></a>
                </div>
                <button id="supprTypelieu" type="button" class='btn btn-warning pull-right' onclick="supprTypelieuConfirm()">Supprimer le type de lieu</button>
                <button id="modifTypelieu" type="button" class='btn btn-warning pull-right' onclick="modifTypelieu({{typelieu.getId()}})">Modifier le type de lieu</button>
            </div>

            <div id="modalWarningDelete" class="modal fade">
	            <div class="modal-dialog">
	                <div class="modal-content">      
	                    <div class="modal-body text-center">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                        <p>Etes-vous sûr de vouloir supprimer ce type de lieu ?</p>
	                        <div class='wrapper text-center'>
	                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="suppressionTypelieu({{typelieu.getId()}})">Oui</button>
	                            <button type="button" class="btn btn-default" data-dismiss="modal" >Non</button>
	                        </div>
	                    </div>
	                </div>
	            </div>       
	        </div>
        {% endfor %}

	<div id="modalSaveTypelieu" class="modal fade">
		<div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
	            <h4 class="modal-title">Ajouter un type de lieu</h4>
	          </div>
	          <div class="modal-body">
	            <form id="upload" method="post" action="{{ path("site_carto_submituploadIcone") }}" enctype="multipart/form-data">
					<div class="form-group">
		                <label for="recipient-name" class="control-label">Nom :</label>
		                <input type="text" class="form-control" id="label" name="label" placeholder="Nom">
		        	</div>
					<div id="drop">
						<label for="recipient-name" class="control-label">Fichier à uploader :</label>
						<input type="file" name="icone" />
					</div>
					<ul>
						<!-- The file uploads will be shown here -->
						<span id="msgError"> </span>
					</ul>	
					<div class="modal-footer">
			            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			            <button type="submit" class="btn btn-primary" id="savetypelieu">Sauvegarder</button>
		          	</div>
	          	</form>
	          </div>

	        </div><!-- /.modal-content -->
	      </div><!-- /.modal-dialog -->
	  </div><!-- /.modalSaveTypelieu-dialog -->
	</div><!-- /.container -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		{% javascripts '@SiteCartoBundle/Resources/js/*' '@SiteCartoBundle/Resources/js/typelieu/*' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
    	{% endjavascripts %}	
	{% endblock %}